<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h2o.board.comment.mapper.CommentMapper">
    <select id="getCommentById" parameterType="int" resultType="com.h2o.board.comment.dto.CommentDto">
        select * from comment where id=#{id}
    </select>
    <select id="getLatestCommentId" parameterType="int" resultType="com.h2o.board.comment.dto.CommentDto">
        select * from comment order by created_at desc limit 1;
    </select>
    <select id="getCommentsByPostId" resultType="com.h2o.board.comment.dto.CommentDto">
        select * from comment where post_id=#{postId} order by parent_comment_id, seq, depth
    </select>
    <select id="getCommentsByParentCommentId" resultType="com.h2o.board.comment.dto.CommentDto">
        select * from comment where parent_comment_id=#{parentCommentId} order by parent_comment_id, seq, depth
    </select>
    <insert id="createComment" parameterType="com.h2o.board.comment.dto.CommentDto" useGeneratedKeys="true" keyProperty="id">
        insert into comment (ip, contents, parent_comment_id, seq, depth, is_hide, post_id) values (#{ip}, #{contents}, #{parentCommentId}, #{seq}, #{depth}, #{isHide}, #{postId})
    </insert>
    <update id="updateComment" parameterType="com.h2o.board.comment.dto.CommentDto">
        update comment set contents=#{contents}, parent_comment_id=#{parentCommentId}, seq=#{seq}, is_hide=#{isHide} where id=#{id}
    </update>
    <delete id="deleteComment" parameterType="int">
        delete from comment where id=#{id}
    </delete>
</mapper>